anyio==4.1.0
asyncio==3.4.3
certifi==2023.11.17
colorama==0.4.6
h11==0.14.0
httpcore==1.0.2
httpx==0.25.2
idna==3.6
phonenumbers==8.13.26
prompt-toolkit==3.0.36
questionary==2.0.1
sniffio==1.3.0
truecallerpy==1.0.3
wcwidth==0.2.12
